body {
    margin: 0;
    font-family: 'Segoe UI', Arial;
    background: #f1f5f9;
}

header {
    background: white;
    padding: 20px 40px;
    font-size: 24px;
    border-bottom: 1px solid #ddd;
}

.container { padding: 20px 40px; }

/* SEARCH */
.searchWrapper { position: relative; }
#searchBox {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#suggestions {
    position: absolute;
    width: 100%;
    background: white;
    display: none;
    z-index: 999;
}

/* LEGEND */
.dot { width:14px;height:14px;border-radius:4px;display:inline-block; }
.available { background:#3b82f6; }
.sold { background:#ef4444; }
.booked { background:#eab308; }
.agent { background:#22c55e; }

/* FLOOR */
#floorContainer {
    height:75vh;
    overflow:auto;
    background:white;
    cursor:grab;
}
#floorContainer.dragging { cursor:grabbing; }

#floor {
    display:flex;
    gap:120px;
    padding:120px;
}

/* HALL */
.hall { display:flex; flex-direction:column; gap:15px; }
.hall-header { display:flex; gap:10px; align-items:center; }
.hall-summary { display:flex; gap:6px; }

/* GRID */
.grid {
    display:grid;
    grid-template-columns:repeat(8,80px);
    gap:10px;
}

/* GROUP */
.booth-group {
    display:flex;
    gap:2px;
}

/* BOOTH */
.booth {
    width:80px;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    border-radius:6px;
    cursor:pointer;
    font-size:11px;
}

.booth:hover {
    transform:scale(1.05);
}

/* TOOLTIP */
.booth:hover::after {
    content: attr(data-tooltip);
    position:absolute;
    bottom:110%;
    left:50%;
    transform:translateX(-50%);
    background:#111;
    color:#fff;
    padding:6px 10px;
    border-radius:6px;
    font-size:12px;
}

/* TYPE ARSIR */
.type-space {
    background-image: repeating-linear-gradient(
        45deg,
        rgba(255,255,255,0.25) 0px,
        rgba(255,255,255,0.25) 6px,
        transparent 6px,
        transparent 12px
    );
}

.type-shell {
    border:2px solid rgba(0,0,0,0.5);
}

/* PANEL */
#sidePanel {
    position:fixed;
    right:20px;
    top:120px;
    background:white;
    padding:20px;
    border-radius:10px;
}

.hidden { display:none; }

/* HIGHLIGHT */
.highlight { outline:4px solid yellow; }

@keyframes blink {
    0%{box-shadow:0 0 0 0 yellow;}
    50%{box-shadow:0 0 20px 10px yellow;}
    100%{box-shadow:0 0 0 0 yellow;}
}
.blink { animation:blink 1s infinite; }
